extends ../main.pug 

append style
  link(rel='stylesheet' href='/css/style.css')

append content
    main
    #contact
        h1 Contact
        ul
        li
            | Mail: 
            a(href='mailto:chuphuongthao04121999@gmail.com')  chuphuongthao04121999@gmail.com
        li
            | Phone: 
            a(href='tel:+79632435725')  (+7) 963 243 57 25
        li
            | Telegram: 
            a(href='https://t.me/thaoch')  @thaoch