extends ../main.pug 

append style
  link(rel='stylesheet' href='/css/style.css')

append content
    main
        .gallery

            .imgcontainer
                 img(src='picture/5.jpg')
            .imgcontainer
                 img(src='picture/6.jpg')
            .imgcontainer
                 img(src='picture/14.jpg')
            .imgcontainer
                 img(src='picture/7.jpg')
            .imgcontainer
                 img(src='picture/8.jpg')
            .imgcontainer
                img(src='picture/13.jpg')
            .imgcontainer
                img(src='picture/10.jpg')
            .imgcontainer
                img(src='picture/9.jpg')
            .imgcontainer
                img(src='picture/15.jpg')
            .imgcontainer
                img(src='picture/11.jpg')
            .imgcontainer
                 img(src='picture/3.jpg')
            .imgcontainer
                img(src='picture/12.jpg')

