extends ../main.pug 

append style
  link(rel='stylesheet' href='/css/style.css')

append content
  main
    article
      .city
        .header-content
          h2#Saint Something about me  
        .content
          img(src='picture/1.jpg' alt='Saint')
          p.city-text
              h3 Chu Phuong Thao 
              | Hi, my name is Thao, and people usually call me Chupu.
              | I was born and raised in a small city in the north of Vietnam.
              | During my high school years, I was still just an ordinary girl,
              | I didn't know what I wanted, who I wanted to be. I entered a
              | family-oriented information technology university. My life will
              | probably go by calmly like that, will graduate from school, get an
              | office job and then get married. And then my life turned to a new page
              | when I received a scholarship to Russia. I came to Russia in October 2018,
              | bringing with me ambition and hope for a more open future. Having lived
              | in Russia for more than 3 years, in the beautiful city of Saint-petersburg,
              | I have made new friends and new teachers. They are wonderful people,
              | they have helped me a lot to make my life away from home easier. 
              | They always take care of me, take care of me.
              | Although life is very difficult, I have to study in Russian and I am not good 
              | at it but thanks for everyone's help. I think I feel better. 
              | I really appreciate and love them. Russia, Saint-Petersburg,
              | ITMO university seem to have become my second home.
              | I love this place, I love everybody.
          p.city-text
          h3 Quote
          i
            | Work hard pays off.
          p

          h3  Education
          ul
            li
              | Trung Vuong high school 
              i (2014-2017)
            li
              | Le Quy Don Universiy 
              i (2017-2018)
            li
              | ITMO University 
              i (2018-now)


