doctype html
html(lang='en')
  head
    block style 
      include shared/style/style.pug
    block script 
      include shared/script/script.pug
  body
    block  header 
      include header/header.pug
    block content 
    block footer
      include footer/foot.pug
