header

  h1   Chupu's house 
  pre    
      i Hello! Welcome to my house ༼ つ ◕_◕ ༽つ

  nav.slider-bar
    a.nav_element(href='/register') Register  
    a.nav_element(href='/index')  About me 
    a.nav_element(href='/gallery')  My photo
    a.nav_element(href='/money')  Money
    a.nav_element(href='/contact') Contact

